* {
    padding: 0;
}

body {
margin: 0;
background-color: cadetblue;

}

/* body,
html {
    /* height: 100%; */
/* } */

.bg_img{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    padding: 0% 20% 1px 25%;
    font-family: sans-serif
    background-image: linear-gradient( rgb(196, 189, 189) 0%, cadetblue 100%);
    font-size: 45px;
    text-align: center; 
    position: fixed;
}

header h1 {
margin-bottom: 0;
margin-top: 0;}


nav {
    font-size: 15px;
    text-align: center;
    text-decoration-color: black;
}
/* ul {

} */

nav ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 32px;
}
li  {
   
    padding: 50px;
    padding-bottom: 0;
    padding-top: 0;
    color: black;
    border-radius: 100%;
    
}
li:hover {
    transition: all 1s ease-in-out;
    background-color: antiquewhite;
    
}


main    {
    text-align: center;
    padding-top: 5px;
    padding-left: 30%;
    padding-right: 30%;
}
main, section {
    display: inline-block;
    align-content: center;
}

h2, #me {
    margin: 0%;
    text-align: center;

    
}

h2 {
    margin-bottom: 20px;
    text-align: left !important;
    
   
}

#me   {
    margin: 0;
    line-height: 20px;
    
}

footer {
    padding: 10%;
    background-image: linear-gradient( cadetblue 0%, rgb(196, 189, 189) 100%);
}
